#map {
    height: 70vh;
}

#info {
    height: 30vh;
    text-align: center;
    display: inline-block;
    align-items: center;
}

#addresses {
    padding:1px;
    margin-left: 15px;
}

#graph {
    padding:1px;
    margin-right: 15px;
}